div {
    width: 100%;
    height: 50px;
    border: 2px solid #fff;
    margin: 2px auto;
    border-radius: 10px;
}
div.uno{
    background-color: #fff;
}
div.dos{
    background-color: #ffb8b8;
}
div.tres{
    background-color: #ff9595;
}
div.cuatro{
    background-color: hsl(0, 100%, 74%);
}
div.cinco{
    background-color: #ff3f3f;
}
div.seis{
    background-color: #ff2222;
}
div.siete{
    background-color: #ff1111;
}
div.ocho{
    background-color: #fff;
}
div.nueve{
    background-color: #fff;
}
div.diez{
    background-color: #940000;
}