extends inc/layout.pug

block title 
    title Intheritance 
block content 
    header 
        h1 Intheritance
    section 
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa dolores ut, veniam possimus eveniet ratione a quod rem! Rem, cupiditate.